* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Flexbox Layout Stuff */
#tiptop {
  text-align: center;
  padding: 40px;
  color: hsl(20, 100%, 10%);
  background-color: #cf592c;
  background-image: url("images/graphics/tiptop_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.carousel-container {
  background-image: url("images/images/brain.jpg");
}

#navbar-opacity-lower {
  opacity: 95%;
}

#home_main {
}

.white-links a:link{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.white-links a:visited{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.dark-links a:link{
  color: blue;
  text-decoration: none;
}

.dark-links a:visited{
  color: blue;
  text-decoration: none;
}

.home-card {
  margin: 20px;
  width: 100%;
}


.side {
  flex: 15%;
  background-color: #f1f1f1;
  padding: 0px;
  border-right: 1px solid black;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.main {
  flex: 85%;
  background-color: white;
  padding: 20px;
}

.main img {
  margin-top: 8px;
  vertical-align: middle;
}

.footer {
  text-align: center;
}


@media screen and (max-width: 1000px) {
  .row{
    flex-direction: column;
  }
}

/* Body */
body {
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif;
  background-image: url("images/graphics/galaxy_background.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
}

/* Headers */
h1 {
  /* border: 2px solid powderblue; */
}
h2 {
  /* color: hsl(250, 50%, 40%); */
}
h3 {
  /* color: hsl(10, 70%, 60%); */
}

/* Links */
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

/* Paragraph */
p {
  text-indent: 25px;
}

/* Tables */
table, th, td {
  padding: 5px;
  border-collapse: collapse;
}

table {
  border-spacing: 1px;
  background-color: #eee;
}

/* Table of Contents */

.toc table {
  border: 1px solid black;
}

.toc tr {
  text-align: center;
}

.toc th {
  text-decoration: underline;
  padding-top: 10px;
}

.toc a:visited {
  color: blue;
}

/* Table of PIE Words */

.pie_table table {
  border: 1px solid black;
}

.pie_table th {
  border: 1px solid black;
}

.pie_table td {
  border: 1px solid black;
}

.pie_table tr:nth-child(1) {
  background-color: #999;
}

.pie_table tr:nth-child(2) {
  background-color: lightgray;
}

.pie_table td:nth-child(1)
{
  background-color: lightgray;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

.nav_bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav_bar a:hover {
  background-color: #111111;
}

/* Ordered List */
ol {
}

/* Description List */
dt {
  font-weight: normal;
}

dd {
  color: darkslategray;
}

#top {
  text-align: center;
}
