* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Website Title Text & Image */
#tiptop {
  text-align: center;
  padding: 40px;
  color: #f0f0ff;
  text-shadow: 1px 1px #050000;
  background-color: #cf592c;
  background-image: url("images/graphics/tiptop_background.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

/* Page Title */
#top {
  text-align: center;
}

/* Semi-transparent navbar */
.navbar-opacity-lower {
  background-color: #292b2c;
  opacity: 95%;
}

/* Thin bars to put on things for style */
.topbar {
  border-top:5px solid #efd3c4;
}

.bottombar{
  border-bottom:5px solid #efd3c4;
}

/* Footer */
.footer {
  background-color:#ddd4e4;
  padding: 10px;
  font-size: 80%;
  text-align: center;
}

/* Light links */
.light-links a:link{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

.light-links a:visited{
  display: block;
  color: #cccccc;
  text-align: center;
  text-decoration: none;
}

.light-links a:hover{
  display: block;
  color: white;
  text-align: center;
  text-decoration: none;
}

/* Blue links */
.dark-links a:link{
  color: #cccccc;
  text-decoration: none;
}

.dark-links a:visited{
  color: blue;
  text-decoration: none;
}

/* The giant cards on the home page */
.home-card {
  margin: 20px;
  width: 100%;
}

/* Format stuff */
.row {
  display: flex;
  flex-wrap: wrap;
}

/* Body */
body {
  margin: 0;
  font-family: Helvetica, Verdana, sans-serif;
  background-image: url("images/graphics/galaxy_background.jpg");
  background-attachment: fixed;
  background-repeat: repeat-y;
  background-size: cover;
}

/* Links */
a:link {
  color: blue;
  background-color: transparent;
  text-decoration: none;
}

a:visited {
  color: purple;
  background-color: transparent;
  text-decoration: none;
}

a:hover {
  color: red;
  background-color: transparent;
  text-decoration: underline;
}

a:active {
  color: orange;
  background-color: transparent;
  text-decoration: underline;
}

/* Paragraph */
p {
  text-indent: 25px;
}

/* Tables */
table, th, td {
  padding: 5px;
  border-collapse: collapse;
}

table {
  border-spacing: 1px;
  background-color: #eeeeee;
}

/* Table of Contents */

.toc table {
  border: 1px solid black;
}

.toc tr {
  text-align: center;
  font-size:90%;
}

.toc th {
  text-decoration: underline;
  padding-top: 10px;
}

.toc a:visited {
  color: blue;
}

/* Text on cards */
.card-text{
  text-indent: 0px;
}

/* Answers to the FAQs */
.faa{
  padding-top: 10px;
}

/* Table of PIE Words */

.pie_table table {
  border: 1px solid black;
}

.pie_table th {
  border: 1px solid black;
}

.pie_table td {
  border: 1px solid black;
}

.pie_table tr:nth-child(1) {
  background-color: #999;
}

.pie_table tr:nth-child(2) {
  background-color: lightgray;
}

.pie_table td:nth-child(1)
{
  background-color: lightgray;
}

/* Navigation Bar */
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333333;
}

ul li {
  float: left;
}

.nav_bar a {
  display: block;
  color: white;
  text-align: center;
  padding: 16px;
  text-decoration: none;
}

.nav_bar a:hover {
  background-color: #111111;
}

/* Description List */
dt {
  font-weight: normal;
}

dd {
  color: darkslategray;
}
